footer {
  background-color: var(--secondary);
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

footer p {
  margin-bottom: 10px;
}

footer ul {
  margin-left: 20px;
}

footer a {
  color: var(--text);
  text-decoration: none;
}
