header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

#logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 590px; /* Taken directly from Figma */
  gap: 20px;
}

#logo img {
  width: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px; /* Taken directly from Figma */
}

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 32px;
  font-weight: normal;
}

nav a.active {
  color: var(--secondary);
  text-decoration: none;
  font-size: 32px;
  font-weight: normal;
}

nav a.hover {
  /* not working for now */
  color: var(--highlight);
}

nav img {
  width: 100px;
}

h1 {
  color: var(--text);
  font-size: 41px;
  font-weight: bold;
}

@media (width < 1000px) {
  header {
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }

  nav {
    width: 40vw;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 10px;
  }
  nav img,
  #logo img {
    width: 10vw;
    min-width: 50px;
  }

  #logo {
    max-width: 4vw;
  }

  h1 {
    font-size: 20px;
  }
  nav a {
    font-size: 16px;
  }

  nav a.active {
    font-size: 16px;
  }
}
